<div fxLayout='row wrap' style="justify-content: space-between; align-items: center">
  <cva-breadcrumb style="flex: 1"></cva-breadcrumb>
  <div fxLayout="row wrap" class="vertical-divider">
    <div class="btn-sec" style="display: flex; gap: 11px; margin-left: 33px;">
      <!-- Quay lại -->
      <button
        (click)="back()"
        class="outline Update-btn"
        mat-button
        type="submit"
      >
        <i class="fas fa-arrow-left"></i> {{ 'btnBack' | translate }}
      </button>

      <!-- Lưu -->
      <button
        (click)="onSubmit()"
        *ngIf="!isView && (hasAddPermission || hasEditPermission)"
        [disabled]="addEditForm.invalid || isView"
        class="primary Update-btn"
        mat-button
        type="submit"
      >
        <i class="fa fa-save"></i> {{ 'btnAddEdit'|translate }}
      </button>

      <!-- Chỉnh sửa -->
      <button
        (click)="onRedirect(this.model?.id)"
        *ngIf="isView && hasEditPermission"
        class="primary Update-btn"
        mat-button
        type="submit"
      >
        <i class="fas fa-pencil-alt"></i> {{ 'btnUpdate'|translate }}
      </button>
    </div>
  </div>
</div>

<form [formGroup]="addEditForm" class="form edit-form">
  <mat-accordion multi>
    <!-- Thông tin chung -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        {{ 'common.general-info.title' | translate }}
      </mat-expansion-panel-header>
      <div
        class="fieldSetContent row-wrap-padding"
        fxLayout="row wrap"
      >
        <!-- Họ tên -->
        <cva-input
          [disabled]="isView || isEdit"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.fullName'"
          [placeholder]="'common.placeholder.input'"
          formControlName="fullName"
          fxFlex="25%"
          fxFlex.lg="25%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="fullName"
        ></cva-input>

        <!-- Mã nhân viên -->
        <cva-input
          [disabled]="isView || isEdit"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.code1'"
          [placeholder]="'common.placeholder.input'"
          formControlName="code"
          fxFlex="25%"
          fxFlex.lg="25%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="code"
        ></cva-input>

        <!-- Chức danh -->
        <cva-input
          [disabled]="isView || isEdit"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.jobPositionName'"
          [placeholder]="'common.placeholder.input'"
          formControlName="jobPositionName"
          fxFlex="25%"
          fxFlex.lg="25%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="jobPositionName"
        ></cva-input>

        <!-- Đơn vị -->
        <cva-input
          [disabled]="isView || isEdit"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.organizationName'"
          [placeholder]="'common.placeholder.input'"
          formControlName="organizationName"
          fxFlex="25%"
          fxFlex.lg="25%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="organizationName"
        ></cva-input>

        <!-- Email -->
        <cva-input
          *ngIf="isView"
          [disabled]="isView"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.email'"
          [placeholder]="'common.placeholder.input'"
          formControlName="email"
          fxFlex="25%"
          fxFlex.lg="25%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="email"
        ></cva-input>

        <!-- Số điện thoại -->
        <cva-input
          *ngIf="isView"
          [disabled]="isView"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.phone1'"
          [placeholder]="'common.placeholder.input'"
          formControlName="phoneNumber"
          fxFlex="25%"
          fxFlex.lg="25%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="phoneNumber"
        ></cva-input>

        <!-- Ngày sinh -->
        <cva-input
          *ngIf="isView"
          [disabled]="isView"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.dob'"
          [placeholder]="'common.placeholder.input'"
          formControlName="dob"
          fxFlex="25%"
          fxFlex.lg="25%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="dob"
        ></cva-input>

        <!-- Giới tính -->
        <cva-input
          *ngIf="isView"
          [disabled]="isView"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.gender'"
          [placeholder]="'common.placeholder.input'"
          formControlName="gender"
          fxFlex="25%"
          fxFlex.lg="25%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="gender"
        ></cva-input>

        <!-- Mô tả -->
        <cva-input
          [disabled]="isView"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [label]="moduleName+'.table.header.description'"
          [maxLength]="255"
          [placeholder]="'common.placeholder.input'"
          formControlName="description"
          fxFlex="50%"
          fxFlex.lg="50%"
          fxFlex.md="50%"
          fxFlex.sm="50%"
          fxFlex.xs="100%"
          fxLayout="column"
          name="description"
        ></cva-input>

        @if (isView) {
          <!-- Trạng thái -->
          <cva-input
            name="status"
            formControlName="status"
            [label]="'common.table.header.status'"
            [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
            [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
            [placeholder]="'common.placeholder.input'"
            [disabled]="isView"
            fxLayout="column"
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.sm="50%"
            fxFlex.md="50%"
            fxFlex.lg="25%"
          ></cva-input>

          <!-- Người tạo -->
          <cva-input
            name="createdBy"
            formControlName="createdBy"
            [label]="'common.table.header.createdBy'"
            [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
            [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
            [placeholder]="'common.placeholder.input'"
            [disabled]="isView"
            fxLayout="column"
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.sm="50%"
            fxFlex.md="50%"
            fxFlex.lg="25%"
          ></cva-input>

          <!-- Ngày tạo -->
          <cva-input
            name="createdDate"
            formControlName="createdDate"
            [label]="'common.table.header.createdDate'"
            [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
            [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
            [placeholder]="'common.placeholder.input'"
            [disabled]="isView"
            fxLayout="column"
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.sm="50%"
            fxFlex.md="50%"
            fxFlex.lg="25%"
          ></cva-input>

          <!-- Người cập nhật -->
          <cva-input
            name="lastModifiedBy"
            formControlName="lastModifiedBy"
            [label]="'common.table.header.lastModifiedBy'"
            [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
            [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
            [placeholder]="'common.placeholder.input'"
            [disabled]="isView"
            fxLayout="column"
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.sm="50%"
            fxFlex.md="50%"
            fxFlex.lg="25%"
          ></cva-input>

          <!-- Ngày cập nhật -->
          <cva-input
            name="lastModifiedDate"
            formControlName="lastModifiedDate"
            [label]="'common.table.header.lastModifiedDate'"
            [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
            [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
            [placeholder]="'common.placeholder.input'"
            [disabled]="isView"
            fxLayout="column"
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.sm="50%"
            fxFlex.md="50%"
            fxFlex.lg="25%"
          ></cva-input>
        }
      </div>
    </mat-expansion-panel>

    <div class="margin-vertical-15"></div>

    <!-- Danh sách vai trò -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="smart-table">
        <mat-panel-title>
          <div style="width: 100%; display: flex; justify-content: space-between; align-items: center !important;">
            <!-- Tiêu đề -->
            <div>
              {{ 'common.general-info.user-role-list' | translate }}
              ({{ addEditForm.get("userRoles")?.value?.length || 0 }})
            </div>

            <!-- Thêm -->
            <button
              (click)="$event.stopPropagation(); onAddRole()"
              (keydown.enter)="$event.stopPropagation(); $event.preventDefault()"
              (keydown.space)="$event.stopPropagation(); $event.preventDefault()"
              *ngIf="!isView && (hasAddPermission || hasEditPermission)"
              class="primary"
              mat-button
              type="button"
            >
              <i class="fa fa-plus"></i> {{ 'common.btnAddRow' | translate }}
            </button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div style="flex-direction: column">
        <cva-smart-table
          (clickAction)="onRowButtonClick($event)"
          *ngIf="addEditForm.get('userRoles')?.value?.length"
          [buttons]="roleButtons"
          [columns]="roleColumns"
          [isSticky]="true"
          [moduleName]="'mdm.userRoles'"
          formControlName="userRoles"
          fxFlex="100%"
        ></cva-smart-table>
      </div>
    </mat-expansion-panel>

    <div class="margin-vertical-15"></div>

    <!-- Thông tin được uỷ quyền -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="smart-table">
        <mat-panel-title>
          <div style="width: 100%; display: flex; justify-content: space-between; align-items: center !important;">
            <!-- Tiêu đề -->
            <div>
              {{ 'common.general-info.user-delegations' | translate }}
              ({{ addEditForm.get("internalUserDelegations")?.value?.length || 0 }})
            </div>

            <!-- Thêm -->
            <button
              (click)="$event.stopPropagation(); onOpenPopup()"
              (keydown.enter)="$event.stopPropagation(); $event.preventDefault()"
              (keydown.space)="$event.stopPropagation(); $event.preventDefault()"
              *ngIf="!isView && (hasAddPermission || hasEditPermission)"
              class="primary"
              mat-button
              type="button"
            >
              <i class="fa fa-plus"></i> {{ 'common.btnAddRow' | translate }}
            </button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div style="flex-direction: column">
        <cva-smart-table
          (clickAction)="onRowButtonClick($event)"
          *ngIf="addEditForm.get('internalUserDelegations')?.value?.length"
          [buttons]="internalUserDelegationsButtons"
          [columns]="internalUserDelegationsColumns"
          [isSticky]="true"
          [moduleName]="'mdm.internalUserDelegations'"
          formControlName="internalUserDelegations"
          fxFlex="100%"
        ></cva-smart-table>
      </div>
    </mat-expansion-panel>

    <div class="margin-vertical-15"></div>

    <!-- Thông tin kiêm nhiệm -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="smart-table">
        <mat-panel-title>
          <div style="width: 100%; display: flex; justify-content: space-between; align-items: center !important;">
            <!-- Tiêu đề -->
            <div>
              {{ 'common.general-info.user-positions' | translate }}
              ({{ addEditForm.get("internalUserPositions")?.value?.length || 0 }})
            </div>

            <!-- Thêm -->
            <button
              (click)="$event.stopPropagation(); onAddUserPosition()"
              (keydown.enter)="$event.stopPropagation(); $event.preventDefault()"
              (keydown.space)="$event.stopPropagation(); $event.preventDefault()"
              *ngIf="!isView && (hasAddPermission || hasEditPermission)"
              class="primary"
              mat-button
              type="button"
            >
              <i class="fa fa-plus"></i> {{ 'common.btnAddRow' | translate }}
            </button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div style="flex-direction: column">
        <cva-smart-table
          (clickAction)="onRowButtonClick($event)"
          *ngIf="addEditForm.get('internalUserPositions')?.value?.length"
          [buttons]="internalUserPositionsButtons"
          [columns]="internalUserPositionsColumns"
          [isSticky]="true"
          [moduleName]="'mdm.internalUserPositions'"
          formControlName="internalUserPositions"
          fxFlex="100%"
        ></cva-smart-table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>

