<mat-card>
  <mat-card-content>
    <div class="login-header" style="display: flex; justify-content: center; margin-top: 1rem;">
      <img src="assets/images/logo-viettel.png" alt="logo-viettel"/>
    </div>
    <ng-container>
      <div class="guest-login" style="margin-top: 1rem;">
        <div class="title" style="text-align: center">{{ 'common.change.password-vo' | translate }}</div>
        <form [formGroup]="form">
          <p>
            <cva-input placeholder="{{ 'login.username' | translate }}" formControlName="username"> </cva-input>
          </p>
          <p>
            <cva-input type="password" placeholder="{{ 'login.password' | translate }}" formControlName="password">
            </cva-input>
          </p>
          <div class="button" style="display: flex; justify-content: center">
            <button type="submit" mat-button class="primary">
              {{ 'common.submit.reset.password' | translate }}
            </button>
          </div>
        </form>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
