<form [formGroup]='addEditForm' class='form edit-form'>
  <div class='content' style="padding: 24px 14px">
    <fieldset>
      <legend></legend>
      <div class='fieldSetContent row-wrap-padding' fxLayout='row wrap'>
        <cva-input
          name="proposal"
          formControlName="proposal"
          [label]="moduleName+'.table.header.proposal'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [maxLength]="255"
          [disabled]='true'
          [required]="false"
          fxLayout="column"
          fxFlex="50%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="50%"
        >
        </cva-input>

        <cva-input
          name="investorOrgName"
          formControlName="investorOrgName"
          [label]="moduleName+'.table.header.investorOrgName'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [maxLength]="255"
          [disabled]='true'
          [required]="false"
          fxLayout="column"
          fxFlex="50%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="50%"
        >
        </cva-input>
        <cva-input
          name="investmentFormName"
          formControlName="investmentFormName"
          [label]="moduleName+'.table.header.investmentFormName'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [maxLength]="255"
          [disabled]='true'
          [required]="false"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="25%"
          fxFlex.md="25%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          name="investmentCapitalSource"
          formControlName="investmentCapitalSource"
          [label]="moduleName+'.table.header.investment_capital'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [maxLength]="255"
          [disabled]='true'
          [required]="false"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="25%"
          fxFlex.md="25%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          name="totalInvestmentCapital"
          formControlName="totalInvestmentCapital"
          [label]="moduleName+'.table.header.totalInvestmentCapital'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [disabled]='true'
          [required]="false"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>

        <cva-input
          name="currencyName"
          formControlName="currencyName"
          [label]="moduleName+'.table.header.currencyName'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [disabled]='true'
          [required]="false"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>

        <cva-input
          name="expressionInvestmentName"
          formControlName="expressionInvestmentName"
          [label]="moduleName+'.table.header.expressionInvestmentName'"
          [class]="moduleName+'.table.header.expressionInvestmentName'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [disabled]='true'
          [placeholder]="'common.placeholder.select'"
          fxLayout="column"
          fxFlex="50%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="50%"
        >
        </cva-input>

        <cva-input
          name="informationTypeInvestmentName"
          formControlName="informationTypeInvestmentName"
          [label]="moduleName+'.table.header.informationTypeInvestmentName'"
          [class]="moduleName+'.table.header.informationTypeInvestmentName'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [disabled]='true'
          [placeholder]="'common.placeholder.select'"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>

        <cva-multi-select-autocomplete
          name="frequencyInvestment"
          formControlName="frequencyInvestment"
          [label]="moduleName+'.table.header.frequencyInvestment'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.select'"
          [options]="frequencyValues"
          [multiple]="false"
          [disabled]="true"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-multi-select-autocomplete>

        <cva-date-picker
          name='startDateInvestment'
          formControlName='startDateInvestment'
          [label]="'common.table.header.startDate'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [disabled]='true'
          fxLayout='column'
          fxFlex='25%'
          fxFlex.xs='100%'
          fxFlex.sm='50%'
          fxFlex.md='50%'
          fxFlex.lg='25%'
        >
        </cva-date-picker>

        <cva-date-picker
          name='endDateInvestment'
          formControlName='endDateInvestment'
          [label]="'common.table.header.endDate'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [disabled]='true'
          fxLayout='column'
          fxFlex='25%'
          fxFlex.xs='100%'
          fxFlex.sm='50%'
          fxFlex.md='50%'
          fxFlex.lg='25%'
        >
        </cva-date-picker>
      </div>

      <app-project-item-search
        #itemSearchRef
        [frequency]="addEditForm.value.frequencyInvestment"
        [startDate]="addEditForm.value.startDateInvestment"
        [endDate]="addEditForm.value.endDateInvestment"
        [orderKey]="'expressionInvestmentOrder'"
        [parentModelIdentityKey]="'projectId'"
        [parentModelId]="id"
        [apiName]="'project-investment-item'"
        [assetValues]="assetValues"
        [accountingAccountValues]="accountingAccountValues"
        [targetValues]="targetValues"
        [readonly]="true"
      ></app-project-item-search>
    </fieldset>
  </div>
</form>
