<cva-breadcrumb></cva-breadcrumb>
<div fxLayout='row wrap' class='row-wrap-padding edit-action'>
  <div class="btn-sec">
    <button mat-stroked-button type="button" class="primary outline" (click)="onOpenDialog()">
      {{ 'btnHistory' | translate }}
    </button>
  </div>
</div>
<form [formGroup]="addEditForm" class="form edit-form" style="padding-bottom: 50px">
  <div class="content" style="padding: 24px 14px">
    <mat-tab-group #tabGroup class="tab-flex-grow-0">
      <mat-tab label="{{ 'mdm.project-proposal.general' | translate }}">
        <app-project-proposal-general
          [model]="model"
          [addEditForm]="addEditForm"
          [organizationValues]="organizationValues"
          [projectTypeValues]="projectTypeValues"
          [locationValues]="locationValues"
        ></app-project-proposal-general>
      </mat-tab>
      @if (isEdit || isView) {
      <mat-tab label="{{ 'mdm.project-proposal.investment' | translate }}">
        <app-project-proposal-investment
          [model]="model"
          [addEditForm]="addEditForm"
          [organizationValues]="organizationValues"
          [investmentFormValues]="investmentFormValues"
          [expressionValues]="expressionValues"
          [informationTypeValues]="informationTypeValues"
          [frequencyValues]="frequencyValues"
          [accountingAccountValues]="accountingAccountValues"
          [assetValues]="assetValues"
          [targetValues]="targetValues"
          [currencyValues]="currencyValues"
          (isEmptyTabExists)="onInvestmentChange($event)"
          (onExpressionChange)="onGetDetail(false)"
        ></app-project-proposal-investment>
      </mat-tab>
      <mat-tab label="{{ 'mdm.project-proposal.report' | translate }}">
        <app-project-proposal-report
          [model]="model"
          [addEditForm]="addEditForm"
          [expressionValues]="expressionValues"
          [informationTypeValues]="informationTypeValues"
          [frequencyValues]="frequencyValues"
          [accountingAccountValues]="accountingAccountValues"
          [assetValues]="assetValues"
          [targetValues]="targetValues"
          (isEmptyTabExists)="onReportChange($event)"
          (onExpressionChange)="onGetDetail(false)"
        ></app-project-proposal-report>
      </mat-tab>
      @if ((isEdit && isShowSignTemplate && isSignValid) || isSignRoute) {
      <mat-tab label="{{ 'mdm.project-proposal.sign' | translate }}">
        @if (model && !isLoading) {
        <app-sign-template [configForm]="configForm" [addEditForm]="addEditForm" [isEdit]="isEdit"></app-sign-template>
        }
      </mat-tab>
      } }
    </mat-tab-group>
  </div>
</form>
<div class="row-wrap-padding edit-action-bottom">
  <div class="btn-sec">
    <button mat-stroked-button type="button" class="primary outline" (click)="back()">
      <i class="fa fa-arrow-left"></i> {{ 'btnBack' | translate }}
    </button>

    <button
      *ngIf="!isView || tabGroup.selectedIndex == 3"
      mat-button
      type="button"
      class="primary"
      (click)="onSubmit('SAVE')"
    >
      <i class="fa fa-save"></i> {{ 'btnSave' | translate }}
    </button>
    <button *ngIf="tabGroup.selectedIndex == 3" mat-button type="button" class="primary" (click)="onSubmit('SEND_VO')">
      {{ 'btnSign' | translate }}
    </button>

    <button
      *ngIf="isView && model?.projectProposalStatus == 'WAITING' && tabGroup.selectedIndex != 3"
      mat-button
      type="button"
      class="primary outline"
      (click)="onDelete()"
    >
      {{ 'btnDelete' | translate }}
    </button>

    <button
      *ngIf="
        isView &&
        (model?.projectProposalStatus == 'WAITING' ||
          model?.projectProposalStatus == 'REJECTED' ||
          model?.projectProposalStatus == 'REVOKED') &&
        tabGroup.selectedIndex != 3
      "
      mat-button
      type="button"
      class="primary"
      (click)="onRedirect(model)"
    >
      {{ 'btnUpdate' | translate }}
    </button>

    <button
      *ngIf="isSignValid && !isView && tabGroup.selectedIndex != 3"
      mat-button
      type="button"
      class="primary"
      (click)="onSubmit('SAVE_AND_NEXT_VO')"
    >
      {{ 'btnSaveAndSwitchSign' | translate }}
    </button>

    <button
      *ngIf="
        isSignValid &&
        isView &&
        tabGroup.selectedIndex != 3 &&
        (model.projectProposalStatus == 'REJECTED' ||
          model.projectProposalStatus == 'REVOKED' ||
          model.projectProposalStatus == 'WAITING')
      "
      mat-button
      type="button"
      class="primary"
      (click)="onSubmit('SAVE_AND_NEXT_VO', false)"
    >
      {{ 'btnSwitchSign' | translate }}
    </button>
  </div>
</div>
