<cloud-search
  #cloudSearchRef
  [addBtnEnabled]="hasAddPermission"
  [buttons]="buttons"
  [columns]="columns"
  [configForm]="configForm"
  [formAdvanceSearch]="formAdvanceSearch"
  [trackBy]="trackBy"
>
  <ng-template appTemplate="filterForm">
    <div
      [formGroup]="formAdvanceSearch"
      class="row-wrap-padding"
      fxLayout="row wrap"
    >
      <!-- Mã biểu mẫu -->
      <cva-input
        name="code"
        formControlName="code"
        [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'code')"
        [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'code')"
        [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
        [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
        [placeholder]="'common.placeholder.input'"
        [maxLength]="10"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.lg="25%"
        fxFlex.md="50%"
        fxFlex.sm="50%"
        fxFlex.xs="100%"
      >
      </cva-input>

      <!-- Tên biểu mẫu -->
      <cva-input
        name="name"
        formControlName="name"
        [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'name')"
        [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'name')"
        [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
        [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
        [placeholder]="'common.placeholder.input'"
        [maxLength]="255"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.lg="25%"
        fxFlex.md="50%"
        fxFlex.sm="50%"
        fxFlex.xs="100%"
      >
      </cva-input>

      <!-- Loại biểu mẫu -->
      <cva-multi-select-autocomplete
        name="expressionTypeId"
        formControlName="expressionTypeId"
        [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'expressionTypeId')"
        [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'expressionTypeId')"
        [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
        [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
        [placeholder]="'common.placeholder.select'"
        [multiple]="false"
        [options]="expressionTypeOptions"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.lg="25%"
        fxFlex.md="50%"
        fxFlex.sm="50%"
        fxFlex.xs="100%"
      >
      </cva-multi-select-autocomplete>

      <!-- Loại dữ liệu -->
      <cva-multi-select-autocomplete
        name="informationTypeId"
        formControlName="informationTypeId"
        [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'informationTypeId')"
        [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'informationTypeId')"
        [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
        [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
        [placeholder]="'common.placeholder.select'"
        [options]="informationTypeOptions"
        [multiple]="false"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.lg="25%"
        fxFlex.md="50%"
        fxFlex.sm="50%"
        fxFlex.xs="100%"
      >
      </cva-multi-select-autocomplete>

      <!-- Trạng thái -->
      <cva-multi-select-autocomplete
        name="status"
        formControlName="status"
        [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'status')"
        [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'status')"
        [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
        [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
        [placeholder]="'common.placeholder.select'"
        [options]="statusOptions$ | async"
        [multiple]="false"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.lg="25%"
        fxFlex.md="50%"
        fxFlex.sm="50%"
        fxFlex.xs="100%"
      >
      </cva-multi-select-autocomplete>
    </div>
  </ng-template>
</cloud-search>
