<div fxLayout='row wrap' style="justify-content: space-between; align-items: center">
  <cva-breadcrumb style="flex: 1"></cva-breadcrumb>
</div>

<form [formGroup]="addEditForm" class="form edit-form">
  <div class="content" style="padding: 24px 14px">
    <fieldset>
      <legend></legend>
      <div class="fieldSetContent row-wrap-padding" fxLayout="row wrap">
        <cva-multi-select-autocomplete
          name="projectId"
          formControlName="projectId"
          [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'projectId')"
          [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'project')"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.select'"
          [options]="projectValues"
          [multiple]="false"
          fxLayout="column"
          fxFlex="50%"
          [disabled]="isView"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="50%"
        ></cva-multi-select-autocomplete>

        <cva-multi-select-autocomplete
          name="targetGroups"
          formControlName="targetGroups"
          [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'targetGroups')"
          [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'targetGroup')"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.select'"
          [options]="targetGroupValues"
          [multiple]="true"
          [disabled]="isView"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        ></cva-multi-select-autocomplete>

        <cva-multi-select-autocomplete
          name="informationTypeId"
          formControlName="informationTypeId"
          [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'informationTypeId')"
          [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'dataType')"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.select'"
          [options]="dataTypeValues"
          [multiple]="false"
          [disabled]="isView"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        ></cva-multi-select-autocomplete>

        <cva-multi-select-autocomplete
          name="cycleId"
          formControlName="cycleId"
          [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'cycleId')"
          [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'period')"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.select'"
          [options]="periodValues"
          [multiple]="false"
          [disabled]="isView"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        ></cva-multi-select-autocomplete>

        @if(isView) {
        <!-- Người tạo -->
        <cva-input
          name="createdBy"
          formControlName="createdBy"
          [label]="'common.table.header.createdBy'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [disabled]="isView"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>

        <!-- Ngày tạo -->
        <cva-date-picker
          name="createdDate"
          formControlName="createdDate"
          [label]="'common.table.header.createdDate'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [disabled]="true"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        ></cva-date-picker>

        <!-- Người cập nhật -->
        <cva-input
          name="lastModifiedBy"
          formControlName="lastModifiedBy"
          [label]="'common.table.header.lastModifiedBy'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [disabled]="isView"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>

        <!-- Ngày cập nhật -->
        <cva-date-picker
          name="lastModifiedDate"
          formControlName="lastModifiedDate"
          [label]="'common.table.header.lastModifiedDate'"
          [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
          [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
          [placeholder]="'common.placeholder.input'"
          [disabled]="true"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        ></cva-date-picker>
        }
      </div>
    </fieldset>
  </div>
  <div class="margin-top-15"></div>
  <div class="row-wrap">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header style="background-color: unset">
        <mat-panel-title> {{ 'project.final-balance-config.final-balance' | translate }} </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="fieldSetContent row-wrap-padding" style="padding: 0 12px" fxLayout="row wrap">
        <cva-smart-table
          *ngIf="addEditForm.controls['finalBalanceValues'].value?.length"
          formControlName="finalBalanceValues"
          [isSticky]="true"
          [moduleName]="'project.final-balance-config'"
          [columns]="columns"
          fxFlex="100%"
        ></cva-smart-table>

      </div>
    </mat-expansion-panel>
  </div>
</form>

<div class="row-wrap-padding edit-action-bottom">
  <div class="btn-sec">
    <button mat-button type="submit" class="outline Update-btn" (click)="back()">
      <i class="fas fa-arrow-left"></i> {{ 'btnBack' | translate }}
    </button>
    <button mat-stroked-button type="button" class="primary outline" (click)="onUpdateStatus('reject')" *ngIf="hasRejectPermission">
     {{ 'btnDelete' | translate }}
    </button>
  </div>
</div>
