<cloud-search
  [configForm]="configForm"
  [columns]="columns"
  [buttons]="buttons"
  [formAdvanceSearch]="formAdvanceSearch"
  [exportBtnEnabled]="false"
  [addBtnEnabled]="hasAddPermission"
>
  <ng-template appTemplate="filterForm">
    <div fxLayout="row wrap" class="row-wrap-padding" [formGroup]="formAdvanceSearch">
      <cva-input
        name="key"
        formControlName="key"
        [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'key')"
        [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'key')"
        [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
        [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
        [placeholder]="'common.placeholder.input'"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="50%"
        fxFlex.lg="25%"
      >
      </cva-input>

      <cva-multi-select-autocomplete
        name="module"
        formControlName="module"
        [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'module')"
        [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'module')"
        [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
        [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
        [placeholder]="'common.placeholder.select'"
        [options]="moduleValues"
        [multiple]="false"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="50%"
        fxFlex.lg="25%"
      >
      </cva-multi-select-autocomplete>

      <cva-multi-select-autocomplete
        name="status"
        formControlName="status"
        [class]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'status')"
        [label]="Utils.getKeyTrans(configForm?.moduleName, configForm?.name, 'status')"
        [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
        [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
        [placeholder]="'common.placeholder.select'"
        [options]="statusValues$ | async"
        [multiple]="false"
        fxLayout="column"
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="50%"
        fxFlex.lg="25%"
      >
      </cva-multi-select-autocomplete>
    </div>
  </ng-template>
</cloud-search>
