<div [style]="{ height: height + 'px' }" class="images-carousel">
  <div (click)="next()" class="action next">
    <svg aria-hidden="true" class="css-vubbuv" focusable="false" viewBox="0 0 24 24">
      <path d="M11.67 3.87 9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
    </svg>
  </div>
  <div (click)="prev()" class="action prev">
    <svg aria-hidden="true" class="css-vubbuv" focusable="false" viewBox="0 0 24 24">
      <path d="M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z"></path>
    </svg>
  </div>
  <img [src]="images[index]" class="img-item"/>
</div>
