<div class="dialog_wrapper" style="width: 80vw">
  <div class="dialog_header">
    <div class="dialog_title">{{ 'common.personalInformation' | translate }}</div>
  </div>
  <div class="dialog_content">
    <form [formGroup]="addEditForm" class="form edit-form">
      <div class="fieldSetContent row-wrap-padding" fxLayout="row wrap">
        <cva-input
          [placeholder]="'common.personalInformation.userName'"
          [disabled]="true"
          name="userName"
          formControlName="userName"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.code'"
          [disabled]="true"
          name="code"
          formControlName="code"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.fullName'"
          [disabled]="true"
          name="fullName"
          formControlName="fullName"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.jobPositionName'"
          [disabled]="true"
          name="jobPositionName"
          formControlName="jobPositionName"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.organizationName'"
          [disabled]="true"
          name="organizationName"
          formControlName="organizationName"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.email'"
          [disabled]="true"
          name="email"
          formControlName="email"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.phoneNumber'"
          [disabled]="true"
          name="phoneNumber"
          formControlName="phoneNumber"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.gender'"
          [disabled]="true"
          name="gender"
          formControlName="gender"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.dob'"
          [disabled]="true"
          name="dob"
          formControlName="dob"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
        <cva-input
          [placeholder]="'common.personalInformation.password'"
          [required]="true"
          name="password"
          formControlName="password"
          type="password"
          fxLayout="column"
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="50%"
          fxFlex.md="50%"
          fxFlex.lg="25%"
        >
        </cva-input>
      </div>
    </form>
  </div>
  <div class="dialog_footer right">
    <div>
      <button mat-button class="error" (click)="matDialogRef.close()">
        {{ 'common.btnClose' | translate }}
      </button>
      <button mat-button class="primary" (click)="onSubmit()">{{ 'btnAddEdit' | translate }}</button>
    </div>
  </div>
</div>
