<div class="dialog_wrapper">
  <div class="dialog_header">
    <div class="dialog_title">{{ (isEdit ? 'project.popup.edit' : 'project.popup.create') | translate }}</div>
    <i class="fal fa-times margin-15" style="cursor: pointer" (click)="matDialogRef.close()"></i>
  </div>
  <div class="dialog_content padding-15">
    <div fxLayout fxLayoutAlign="end">
      @if (!isEdit) {
      <button mat-button type="button" class="primary" (click)="addRow()">
        <i class="fa fa-plus"></i> {{ 'common.btnAddRow' | translate }}</button
      >}
    </div>

    <form class="form edit-form">
      <cva-smart-table
        [moduleName]="'project.' + apiName"
        [formControl]="formControl"
        [columns]="columns"
        [buttons]="buttons"
        (clickAction)="onTableAction($event)"
      ></cva-smart-table>
    </form>
  </div>
  <div class="dialog_footer right">
    <div>
      <button mat-button class="outline" type="button" (click)="matDialogRef.close()">
        {{ 'btnBack' | translate }}
      </button>
      <button mat-button class="primary" type="button" [disabled]="formControl.value.length == 0 || formControl.invalid" (click)="onSubmit()">
        {{ 'btnConfirm' | translate }}
      </button>
    </div>
  </div>
</div>
