<cva-breadcrumb></cva-breadcrumb>

<form [formGroup]="addEditForm" class="form edit-form" style="padding-bottom: 60px">
  <div class="content" style="padding: 0 24px 24px">
    <fieldset>
      <mat-tab-group class="tab-flex-grow-0" #matTabGroup (selectedTabChange)="onChangeTab($event)">
        <mat-tab label="{{'project.projects-info.general' | translate}}">
          <div class="info-content">
            <div class="fieldSetContent row-wrap-padding" fxLayout="row wrap" style="margin-top: 16px">
              <cva-input
                name="code"
                formControlName="code"
                [label]="moduleName + '.table.header.code'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                [required]="false"
                fxLayout="column"
                fxFlex="25%"
                fxFlex.xs="100%"
                fxFlex.sm="25%"
                fxFlex.md="25%"
                fxFlex.lg="25%"></cva-input>

              <cva-input
                name="name"
                formControlName="name"
                [label]="moduleName + '.table.header.name'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                [required]="false"
                fxLayout="column"
                fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="50%"
                fxFlex.md="50%"
                fxFlex.lg="50%"></cva-input>

              <cva-input
                name="sapCode"
                formControlName="sapCode"
                [maxLength]="255"
                [label]="moduleName + '.table.header.sapCode'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="isView || isEdited"
                [required]="true"
                fxLayout="column"
                fxFlex="25%"
                fxFlex.xs="100%"
                fxFlex.sm="25%"
                fxFlex.md="25%"
                fxFlex.lg="25%"></cva-input>

              <cva-input
                name="proposal"
                formControlName="proposal"
                [label]="moduleName + '.table.header.proposal'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                [required]="false"
                fxLayout="column"
                fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="50%"
                fxFlex.md="50%"
                fxFlex.lg="50%"></cva-input>

              <cva-input
                name="projectTypeName"
                formControlName="projectTypeName"
                [label]="moduleName + '.table.header.projectType'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                [required]="false"
                fxLayout="column"
                fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="50%"
                fxFlex.md="50%"
                fxFlex.lg="50%"></cva-input>

              <cva-input
                name="proposingOrgName"
                formControlName="proposingOrgName"
                [label]="moduleName + '.table.header.proposingOrg'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                [required]="false"
                fxLayout="column"
                fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="50%"
                fxFlex.md="50%"
                fxFlex.lg="50%"></cva-input>

              <cva-input
                name="operatingOrgName"
                formControlName="operatingOrgName"
                [label]="moduleName + '.table.header.operatingOrg'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                [required]="false"
                fxLayout="column"
                fxFlex="50%"
                fxFlex.xs="100%"
                fxFlex.sm="50%"
                fxFlex.md="50%"
                fxFlex.lg="50%"></cva-input>

              <cva-date-picker
                name="expectedStartDate"
                formControlName="expectedStartDate"
                [label]="moduleName + '.table.header.expectedStartDate'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                [required]="false"
                fxLayout="column"
                fxFlex="25%"
                fxFlex.xs="100%"
                fxFlex.sm="25%"
                fxFlex.md="25%"
                fxFlex.lg="25%"></cva-date-picker>

              <cva-date-picker
                name="expectedEndDate"
                formControlName="expectedEndDate"
                [label]="moduleName + '.table.header.expectedEndDate'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                [required]="false"
                fxLayout="column"
                fxFlex="25%"
                fxFlex.xs="100%"
                fxFlex.sm="25%"
                fxFlex.md="25%"
                fxFlex.lg="25%"></cva-date-picker>

              <cva-multi-select-autocomplete
                name="status"
                formControlName="status"
                [label]="moduleName + '.table.header.status'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.select'"
                [options]="statusValues"
                [multiple]="false"
                [disabled]="true"
                fxLayout="column"
                fxFlex="25%"
                fxFlex.xs="100%"
                fxFlex.sm="50%"
                fxFlex.md="50%"
                fxFlex.lg="25%"
              ></cva-multi-select-autocomplete>

              <cva-input
                name='goal'
                formControlName='goal'
                class="text_area"
                [label]="moduleName+'.table.header.goal'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [multiline]="true"
                [disabled]="true"
                [maxLength]="255"
                fxLayout='column'
                fxFlex='100%'
                fxFlex.xs='100%'
                fxFlex.sm='100%'
                fxFlex.md='100%'
                fxFlex.lg='100%'>
              </cva-input>

              <cva-input
                name='scale'
                formControlName='scale'
                class="text_area"
                [label]="moduleName+'.table.header.scale'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [multiline]="true"
                [disabled]="true"
                [maxLength]="255"
                fxLayout='column'
                fxFlex='100%'
                fxFlex.xs='100%'
                fxFlex.sm='100%'
                fxFlex.md='100%'
                fxFlex.lg='100%'>
              </cva-input>

              <cva-input
                name='locationName'
                formControlName='locationName'
                [label]="moduleName+'.table.header.location'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [multiline]="false"
                [disabled]="true"
                [maxLength]="255"
                fxLayout='column'
                fxFlex='50%'
                fxFlex.xs='100%'
                fxFlex.sm='50%'
                fxFlex.md='50%'
                fxFlex.lg='50%'>
              </cva-input>

              <cva-input
                name='address'
                formControlName='address'
                [label]="moduleName+'.table.header.address'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [multiline]="false"
                [disabled]="true"
                [maxLength]="255"
                fxLayout='column'
                fxFlex='50%'
                fxFlex.xs='100%'
                fxFlex.sm='50%'
                fxFlex.md='50%'
                fxFlex.lg='50%'>
              </cva-input>

              <cva-input
                name='createdBy'
                formControlName='createdBy'
                [label]="moduleName+'.table.header.createdBy'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [multiline]="false"
                [disabled]="true"
                [maxLength]="255"
                fxLayout='column'
                fxFlex='25%'
                fxFlex.xs='100%'
                fxFlex.sm='25%'
                fxFlex.md='25%'
                fxFlex.lg='25%'>
              </cva-input>

              <cva-date-picker
                name='createdDate'
                formControlName='createdDate'
                [label]="moduleName+'.table.header.createdDate'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]="true"
                fxLayout='column'
                fxFlex='25%'
                fxFlex.xs='100%'
                fxFlex.sm='25%'
                fxFlex.md='25%'
                fxFlex.lg='25%'>
              </cva-date-picker>

              <cva-input
                name='lastModifiedBy'
                formControlName='lastModifiedBy'
                [label]="moduleName+'.table.header.lastModifiedBy'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [multiline]="false"
                [disabled]="true"
                [maxLength]="255"
                fxLayout='column'
                fxFlex='25%'
                fxFlex.xs='100%'
                fxFlex.sm='25%'
                fxFlex.md='25%'
                fxFlex.lg='25%'>
              </cva-input>

              <cva-date-picker
                name='lastModifiedDate'
                formControlName='lastModifiedDate'
                [label]="moduleName+'.table.header.lastModifiedDate'"
                [isFloatLabel]="!environment.IS_LABEL_OUTSIDE"
                [isLabelOutside]="environment.IS_LABEL_OUTSIDE"
                [placeholder]="'common.placeholder.input'"
                [disabled]='true'
                fxLayout='column'
                fxFlex='25%'
                fxFlex.xs='100%'
                fxFlex.sm='25%'
                fxFlex.md='25%'
                fxFlex.lg='25%'>
              </cva-date-picker>
            </div>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ 'project.project-info.organization' | translate }}</mat-panel-title>
              </mat-expansion-panel-header>
              <cva-smart-table
                *ngIf="this.addEditForm.get('organizations')?.value?.length"
                formControlName='organizations'
                [moduleName]="moduleName+'-organizations'"
                [columns]='columns'
                (clickAction)="onRowButtonClick($event)"
                [isSticky]='true'
                [minRow]='1'
                fxFlex='100%'>
              </cva-smart-table>
            </mat-expansion-panel>
          </div>
        </mat-tab>
        <mat-tab label="{{'project.projects-info.proposal-info' | translate}}">
          <div class="info-content">
            <ng-template matTabContent>
              <vtp-proposal-information [addEditForm]="addEditForm"></vtp-proposal-information>
            </ng-template>
          </div>
        </mat-tab>
        <mat-tab label="{{'project.projects-info.investment-info' | translate}}">
          <div class="info-content">
            <ng-template matTabContent>
              <vtp-investment-information
                [addEditForm]="addEditForm"
                [accountingAccountValues]="accountingAccountValues"
                [assetValues]="assetValues"
                [targetValues]="targetValues"
              ></vtp-investment-information>
            </ng-template>
          </div>
        </mat-tab>
        <mat-tab label="{{'project.projects-info.feasibility-report' | translate}}">
          <div class="info-content">
            <ng-template matTabContent>
              <vtp-feasibility-report
                [addEditForm]="addEditForm"
                [accountingAccountValues]="accountingAccountValues"
                [assetValues]="assetValues"
                [targetValues]="targetValues"
              ></vtp-feasibility-report>
            </ng-template>
          </div>
        </mat-tab>
        <mat-tab label="{{'project.projects-info.folder-list' | translate}}">
          <div class="info-content">
            <ng-template matTabContent>
              <vtp-folder-list [isViewFolder]="isView" [projectId]="id"></vtp-folder-list>
            </ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>
    </fieldset>
  </div>
</form>

<div class="row-wrap-padding edit-action-bottom">
  <div class="btn-sec">
    <button
      mat-stroked-button
      type="button"
      class="primary outline"
      (click)="back()">
      <i class="fa fa-arrow-left"></i> {{ 'btnBack' | translate }}
    </button>
    <button
      *ngIf="!isView && !isEdited"
      [disabled]="this.addEditForm.invalid"
      mat-button
      type="button"
      class="primary"
      (click)="onSave()">
      <i class="fa fa-save"></i> {{ 'btnSave' | translate }}
    </button>
    <button
      *ngIf="isView"
      mat-button
      type="button"
      class="primary"
      (click)="onEdit(this.model?.id)">{{ 'btnUpdate' | translate }}
    </button>
  </div>
</div>
